.footer{
    color: white;
    letter-spacing: 3px;
    padding: 6rem 6rem;
    align-items: start;
}

.footer-head{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    width: 80%;
    margin-inline: auto;
    text-align: center;
}

.footer-head h3{
    color: whitesmoke;
    font-weight: lighter;
    margin-bottom: 1rem;
    font-size: large;
    cursor: pointer;
}

.footer ul{
    list-style: none;
    color: white;
    font-weight: lighter;
    font-size: small;
    margin: 0;
    padding: 0;
}

.footer ul li{
    text-indent: 0;
    cursor: pointer;
    margin-bottom: 4px;
}

.footer-head div{
    width: 25%;
}

@media(max-width:580px){
    html{
        font-size: 12px;
    }

    .footer-head{
        flex-direction: column;
        align-items: center;
    }

    .footer-head div{
        width: 98%;
        margin-bottom: 2rem;
    }
}