
.navigation{
    position: fixed;
    width:15vw;
    height:100vh;
    border-right: 1px solid white;
    background-color:#18311D;
    padding:4rem 2rem;
    padding-left:1rem;
  }
  
.dashboard .navigation ul li{
  margin-bottom: 25px;
  font-weight: lighter;
  font-size: large;
  cursor: pointer;
}

.icon{
  cursor: pointer;
}