.hero_section_blog{
    display: flex;
    width: 90vw;
    margin-inline: auto;
    margin-top: 2rem;
    justify-content: space-around;
}

.blog_box{
    width: 250px;
    height: 250px;
    background-color: #065F24;
}

.hero_section_blog h1{
    color: #065F24;
    margin-bottom: 1rem;
}